@import "tailwindcss";

@theme {
  --breakpoint-3xl: 110rem;

  --color-primary-50: #fff6ed;
  --color-primary-100: #ffebd4;
  --color-primary-150: #ffdfbf;
  --color-primary-200: #ffd2a9;
  --color-primary-300: #ffb272;
  --color-primary-400: #fe8739;
  --color-primary-500: #fc6513;
  --color-primary-600: #ed4a09;
  --color-primary-700: #c53509;
  --color-primary-800: #9c2b10;
  --color-primary-900: #7e2610;
  --color-primary-950: #441006;

  --color-secondary-50: #f7f8ed;
  --color-secondary-75: #f2f4e2;
  --color-secondary-100: #ecf0d7;
  --color-secondary-200: #d9e3b3;
  --color-secondary-300: #c0d086;
  --color-secondary-400: #a6bb60;
  --color-secondary-500: #88a042;
  --color-secondary-600: #65792f;
  --color-secondary-700: #516229;
  --color-secondary-800: #434f25;
  --color-secondary-900: #3a4423;
  --color-secondary-950: #1d240f;

  --color-gray-50: #f6f7f8;
  --color-gray-100: #eaecef;
  --color-gray-200: #dbdee2;
  --color-gray-300: #c2c9ce;
  --color-gray-400: #adb5bd;
  --color-gray-500: #8e97a3;
  --color-gray-600: #7d8593;
  --color-gray-700: #707685;
  --color-gray-800: #5e636f;
  --color-gray-900: #4e525a;
  --color-gray-950: #323439;

  --color-positive-50: #f2f8f9;
  --color-positive-100: #ddedf0;
  --color-positive-200: #bfdbe2;
  --color-positive-300: #93c2cd;
  --color-positive-400: #5fa0b1;
  --color-positive-500: #4a90a4;
  --color-positive-600: #3b6d7f;
  --color-positive-700: #355a69;
  --color-positive-800: #324c58;
  --color-positive-900: #2d424c;
  --color-positive-950: #1a2932;

  --color-alert-50: #fcf5f4;
  --color-alert-100: #f8ebe8;
  --color-alert-200: #f4d9d4;
  --color-alert-300: #eabfb7;
  --color-alert-400: #dd998c;
  --color-alert-500: #c76856;
  --color-alert-600: #b75c4b;
  --color-alert-700: #994b3c;
  --color-alert-800: #804034;
  --color-alert-900: #6b3a31;
  --color-alert-950: #391c16;
}
